[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-jwt-extended = "==3.25.1"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
black = "*"
requests = "*"
python-dotenv = "*"
flask-uploads = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
