[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "==1.1.2"
flask-restful = "==0.3.8"
black = "*"
marshmallow = "==3.10.0"
flask-jwt-extended = "==3.25.1"
flask-marshmallow = "==0.14.0"
requests = "*"
marshmallow-sqlalchemy = "==0.22.0"
flask-sqlalchemy = "==2.4.0"
flask-uploads = "*"
sqlalchemy = "==1.2.12"
psycopg2-binary = "*"
flask-migrate = "*"
alembic = "==1.4.3"
flask-oauthlib = "*"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
